<div  style="text-align: left;font-size: 18px;position: fixed; background-color: white;border-radius: 10px;padding: 10px">
  <iframe allowtransparency="true" frameborder="0" width="180" height="109" scrolling="no" src="//tianqi.2345.com/plugin/widget/index.htm?s=2&z=3&t=1&v=1&d=1&bd=0&k=&f=&ltf=009944&htf=cc0000&q=0&e=0&a=0&c=54527&w=140&h=109&align=center"></iframe>
  <!--<div ><a [routerLink]="['/usrinfo']">我的资料</a></div>-->
  <!--<div style="margin-top: 10px"><a [routerLink]="['/mybooks']">已借书籍</a></div>-->
  <!--<div style="margin-top: 10px"><a href="http://www.baidu.com">实验室信息</a></div>-->
  <!--<div style="margin-top: 10px"><a href="http://www.baidu.com">书籍信息管理</a></div>-->
  <!--<div style="margin-top: 10px"><a href="http://www.baidu.com">用户信息管理</a></div>-->
  <ul class="heroes">
    <li [routerLink]="['/usrinfo']">
      <span class="badge">1</span>我的资料
    </li>
    <li [routerLink]="['/mybooks']">
      <span class="badge">2</span>已借书籍
    </li>
    <li [routerLink]="['/usrinfo']">
      <span class="badge">3</span>实验室信息
    </li>
    <li [routerLink]="['/usrinfo']">
      <span class="badge">4</span>书籍信息管理
    </li>
    <li [routerLink]="['/usrinfo']">
      <span class="badge">5</span>用户信息管理
    </li>
  </ul>
</div>
